tunnel: eduflex
credentials-file: C:\Users\alxpa\.cloudflared\b6f238db-50d5-4c9b-a59d-89fffa203a5c.json

ingress:
  - hostname: www.eduflexlms.se
    service: http://localhost:8080
  - hostname: eduflexlms.se
    service: http://localhost:8080
  - service: http_status:404
