# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/
.DS_Store

# Logs
*.log

# OS
Thumbs.db
Desktop.ini

# Project
uploads/
backups/
.git/
.gitignore
*.txt
*.md
!README.md
node_modules/
npm-debug.log

# Static Assets
src/main/resources/static/web-apps/

