apiVersion: batch/v1
kind: Job
metadata:
  name: k6-stress-test
  namespace: eduflex
spec:
  template:
    spec:
      containers:
      - name: k6
        image: grafana/k6:latest
        command: ["k6", "run", "/scripts/stress-test.js"]
        env:
        - name: BASE_URL
          value: "http://eduflex-backend:8080/api"
        volumeMounts:
        - name: scripts
          mountPath: /scripts
      restartPolicy: Never
      volumes:
      - name: scripts
        configMap:
          name: k6-scripts
  backoffLimit: 4
