apiVersion: v1
kind: Service
metadata:
  name: {{ include "eduflex.fullname" . }}-backend
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "eduflex.labels" . | nindent 4 }}
    app: backend
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: backend
