@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- GLOBALA REGLER --- */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Grundfärger */
    @apply bg-gray-50 text-gray-900 transition-colors duration-300;

    /* DARK MODE */
    @apply dark:bg-[#131314] dark:text-[#E3E3E3];
}

/* --- GLOBALA INPUT-REGLER --- */
@layer base {
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    textarea,
    select {
        @apply w-full px-4 py-2.5 border rounded-lg outline-none transition-all;
        @apply bg-white border-gray-300 text-gray-900 placeholder-gray-500;
        @apply focus:ring-1 focus:ring-black focus:border-black;

        /* MÖRKT LÄGE */
        @apply dark:bg-[#282a2c] dark:border-transparent dark:text-white dark:placeholder-gray-500;
        @apply dark:focus:bg-[#303336] dark:focus:border-gray-500 dark:focus:ring-1 dark:focus:ring-gray-500;
    }
}