apiVersion: v1
kind: Service
metadata:
  name: {{ include "eduflex.fullname" . }}-postgresql
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "eduflex.labels" . | nindent 4 }}
    app: postgresql
spec:
  type: ClusterIP
  ports:
  - port: 5432
    targetPort: 5432
    protocol: TCP
    name: postgresql
  selector:
    app: postgresql
